.course-modal {
  @include media-breakpoint-up(sm) {
    max-width: 500px;
  }

  @include media-breakpoint-up(md) {
    max-width: 690px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 920px;
  }
}