@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");
.font-noto {
  font-family: 'Noto Sans TC', sans-serif;
}

.w-6s {
  width: 6rem;
}

.w-7s {
  width: 120px;
}

@media (min-width: 768px) {
  .w-md-17s {
    width: 270px;
  }
}

@media (min-width: 992px) {
  .w-lg-22s {
    width: 350px;
  }
}

.h-13s {
  height: 196px;
}

.h-15s {
  height: 238px;
}

.h-20s {
  height: 320px;
}

.h-22s {
  height: 350px;
}

.h-26s {
  height: 420px;
}

.h-40s {
  height: 628px;
}

@media (min-width: 768px) {
  .h-md-10s {
    height: 161px;
  }
  .h-md-13s {
    height: 210px;
  }
  .h-md-15s {
    height: 252px;
  }
  .h-md-21s {
    height: 341px;
  }
  .h-md-22s {
    height: 350px;
  }
  .h-md-26s {
    height: 420px;
  }
  .h-md-28s {
    height: 450px;
  }
  .h-md-29s {
    height: 464px;
  }
}

@media (min-width: 992px) {
  .h-lg-13s {
    height: 196px;
  }
  .h-lg-22s {
    height: 350px;
  }
  .h-lg-26s {
    height: 420px;
  }
  .h-lg-27s {
    height: 430px;
  }
  .h-lg-28s {
    height: 450px;
  }
  .h-lg-30s {
    height: 480px;
  }
}

.square-3s {
  height: 48px;
  width: 48px;
}

.square-4s {
  height: 60px;
  width: 60px;
}

.square-5s {
  height: 68px;
  width: 68px;
}

.square-6s {
  height: 94px;
  width: 94px;
}

@media (min-width: 576px) {
  .position-sm-absolute {
    position: absolute;
  }
}

@media (min-width: 992px) {
  .position-lg-absolute {
    position: absolute;
  }
  .translate-lg-middle {
    -webkit-transform: translate(-50%, -50%) !important;
        -ms-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
  }
}

.hover-secondary-1:hover {
  color: #a79697 !important;
}

.hover-dark-1:hover {
  color: #a3a3a3 !important;
}

.hover-white-1:hover {
  color: #cccccc !important;
}

.hover-extend-1 {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.hover-extend-1:hover {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.img-cover {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.rounded-1s {
  border-radius: 1rem;
}

.rounded-top-1s {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (min-width: 768px) {
  .rounded-md-start {
    border-top-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0;
  }
}

@media (min-width: 992px) {
  .rounded-md-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.border-end-2 {
  border-right: 2px solid #dee2e6;
}

.rounded-none {
  border-radius: 0;
}

@media (min-width: 992px) {
  .bg-lg-white {
    background-color: white !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.list-style-type-disc li {
  list-style-type: disc;
}

.white-space-nowrap {
  white-space: nowrap;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.swiper-level .card-icon {
  color: #907A7B;
}

.swiper-level .active {
  border: 4px solid white;
}

.swiper-level .active .card-icon {
  color: white;
}

@media (min-width: 768px) {
  .swiper-level .card {
    min-height: 287px;
  }
}

@media (min-width: 1200px) {
  .swiper-level .card {
    min-height: auto;
  }
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: #907A7B;
}

@media (min-width: 576px) {
  .course-modal {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .course-modal {
    max-width: 690px;
  }
}

@media (min-width: 992px) {
  .course-modal {
    max-width: 920px;
  }
}

.scrollbar-secondary {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.scrollbar-secondary::-webkit-scrollbar {
  height: 8px;
  border-radius: 16px;
}

.scrollbar-secondary::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

.scrollbar-secondary::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 16px;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.banner {
  min-height: calc(100vh - 83.37px);
  background: url(../images/banner-1.jpg);
  background-size: cover;
  background-position: 50% 100%;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  .ms-off {
    margin-left: -60px;
  }
}

@media (min-width: 992px) {
  .ms-off {
    margin-left: -95px;
  }
}

.community-list {
  z-index: 1;
}

.block-py {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .block-py {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

@media (min-width: 992px) {
  .block-py {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.index .relax .img-primary {
  height: 210px;
}

@media (min-width: 768px) {
  .index .relax .img-primary {
    height: 266px;
  }
}

@media (min-width: 992px) {
  .index .relax .img-primary {
    height: 444px;
  }
}

.index .relax .img-secondary {
  height: 210px;
}

@media (min-width: 768px) {
  .index .relax .img-secondary {
    height: 117px;
  }
}

@media (min-width: 992px) {
  .index .relax .img-secondary {
    height: 207px;
  }
}

.index .featured .container-course {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .index .featured .container-course {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .index .featured .container-course {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .index .featured .container-course {
    max-width: 100%;
  }
}

.index .featured .swiper-wrapper {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

@media (min-width: 992px) {
  .index .featured .swiper-wrapper {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
}

.index .featured .swiper-slide {
  width: 48%;
  margin: 0.5rem 1%;
}

@media (min-width: 992px) {
  .index .featured .swiper-slide {
    width: 100%;
  }
}

.index .featured .course-main {
  width: 100%;
}

@media (min-width: 576px) {
  .index .featured .course-main {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.index .featured .swiper-course img {
  height: 165px;
}

@media (min-width: 576px) {
  .index .featured .swiper-course img {
    height: 150px;
    width: 150px;
  }
}

@media (min-width: 992px) {
  .index .featured .swiper-course img {
    height: 445px;
    width: 445px;
  }
}

.index .customer-feedback .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-reserve .nav-link {
  background: #F5F0E7;
}

.nav-reserve .active {
  background: #907A7B;
  color: #fff;
}

.nav-reserve .active:hover {
  color: #cccccc;
}

.course-descripition-list li {
  list-style-type: disc;
}

/*# sourceMappingURL=all.css.map */
