.hover-dark-1:hover {
  color: lighten($dark, 20%) !important;
}

.hover-white-1:hover {
  color: darken($white, 20%) !important;
}

// img extend
.hover-img-extend-1 {
  transform: scale(1, 1);
  transition: all 0.8s ease-out;

  &:hover {
    transform: scale(1.2, 1.2);
  }
}