// md
@include media-breakpoint-up(sm) {
  .position-sm-absolute {
    position: absolute;
  }
}

// lg
@include media-breakpoint-up(lg) {
  .position-lg-absolute {
    position: absolute;
  }

  .translate-lg-middle {
    transform: translate(-50%, -50%) !important;
  }
}