// width 
// w-6s - 96px
.w-6s {
  width: $spacer * 6;
}


// height
.h-26s {
  height: 420px;
}

.h-40s {
  height: 628px;
}

// md
@include media-breakpoint-up(md) {
  .h-md-15s {
    height: 252px;
  }
}

// lg
@include media-breakpoint-up(lg) {
  .h-lg-26s {
    height: 420px;
  }
}

// square 正方形
.square-3s {
  height: 48px;
  width: 48px;
}

.square-4s {
  height: 60px;
  width: 60px;
}

.square-5s {
  height: 68px;
  width: 68px;
}

.square-6s {
  height: 94px;
  width: 94px;
}